body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.text-muted {
  color: #777777; }

.text-primary {
  color: #fed136; }

p {
  font-size: 14px;
  line-height: 1.75; }

p.large {
  font-size: 16px; }

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none; }

a {
  color: #fed136; }

a:hover,
a:focus,
a:active,
a.active {
  color: #fec503; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

.img-centered {
  margin: 0 auto; }

.bg-light-gray {
  background-color: #eeeeee; }

.bg-darkest-gray {
  background-color: #222222; }

.bg-yellow {
  background-color: #fed136; }

.btn-primary {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700; }
  .btn-primary:focus, .btn-primary.focus {
    color: white;
    background-color: #fec503;
    border-color: #b48b01; }
  .btn-primary:hover {
    color: white;
    background-color: #fec503;
    border-color: #f6bf01; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    background-color: #fec503;
    border-color: #f6bf01; }
    .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
    .open > .btn-primary.dropdown-toggle:hover,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle.focus {
      color: white;
      background-color: #dcab01;
      border-color: #b48b01; }
  .btn-primary:active, .btn-primary.active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary:hover,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary.focus {
    background-color: #fed136;
    border-color: #fed136; }
  .btn-primary .badge {
    color: #fed136;
    background-color: white; }

.btn-xl {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px; }
  .btn-xl:focus, .btn-xl.focus {
    color: white;
    background-color: #fec503;
    border-color: #b48b01; }
  .btn-xl:hover {
    color: white;
    background-color: #fec503;
    border-color: #f6bf01; }
  .btn-xl:active, .btn-xl.active,
  .open > .btn-xl.dropdown-toggle {
    color: white;
    background-color: #fec503;
    border-color: #f6bf01; }
    .btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus,
    .open > .btn-xl.dropdown-toggle:hover,
    .open > .btn-xl.dropdown-toggle:focus,
    .open > .btn-xl.dropdown-toggle.focus {
      color: white;
      background-color: #dcab01;
      border-color: #b48b01; }
  .btn-xl:active, .btn-xl.active,
  .open > .btn-xl.dropdown-toggle {
    background-image: none; }
  .btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus,
  fieldset[disabled] .btn-xl:hover,
  fieldset[disabled] .btn-xl:focus,
  fieldset[disabled] .btn-xl.focus {
    background-color: #fed136;
    border-color: #fed136; }
  .btn-xl .badge {
    color: #fed136;
    background-color: white; }

.navbar-custom {
  background-color: #222222;
  border-color: transparent; }
  .navbar-custom .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive; }
    .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
      color: #fec503; }
  .navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.98); }
  .navbar-custom .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px; }
    .navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
      background-color: #fed136; }
  .navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white; }
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
      color: #fed136;
      outline: none; }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #fed136; }
  .navbar-custom .navbar-nav > .active > a:hover,
  .navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #fec503; }

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }
    .navbar-custom .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    .navbar-custom .navbar-nav > .active > a {
      border-radius: 3px; } }

@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0; }
    .navbar-custom.affix .navbar-brand {
      font-size: 1.5em; } }

header {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white; }
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px; }
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 25px; }

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px; }
    header .intro-text .intro-lead-in {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px; }
    header .intro-text .intro-heading {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 75px;
      line-height: 75px;
      margin-bottom: 50px; } }

section {
  padding: 100px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px; }

@media (min-width: 768px) {
  section {
    padding: 150px 0; } }

#map {
  height: 100vh; }

.team-member {
  text-align: center;
  margin-bottom: 50px; }
  .team-member img {
    margin: 0 auto;
    border: 7px solid white; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

section#contact {
  background-color: #222222;
  background-image: url("../img/map-image.png");
  background-position: center;
  background-repeat: no-repeat; }
  section#contact .section-heading {
    color: white; }
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px; }
    section#contact .form-group input.form-control {
      height: auto; }
    section#contact .form-group textarea.form-control {
      height: 236px; }
  section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
  section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee; }
  section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee; }
  section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee; }
  section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee; }
  section#contact .text-danger {
    color: #e74c3c; }

section.download {
  padding: 150px 0;
  position: relative; }
  section.download h2 {
    margin-top: 0;
    font-size: 50px; }
  section.download .badges .badge-link {
    display: block;
    margin-bottom: 25px; }
    section.download .badges .badge-link:last-child {
      margin-bottom: 0; }
    section.download .badges .badge-link img {
      height: 60px; }
    @media (min-width: 768px) {
      section.download .badges .badge-link {
        display: inline-block;
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    section.download h2 {
      font-size: 70px; } }

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none; }
  footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none; }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none; }

::-moz-selection {
  text-shadow: none;
  background: #fed136; }

::selection {
  text-shadow: none;
  background: #fed136; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  webkit-tap-highlight-color: #fed136; }

#description {
  font-size: 15px;
  font-weight: 300; }

#infowindow-content {
  display: none; }
  #infowindow-content .title {
    font-weight: bold; }

#map #infowindow-content {
  display: inline; }

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff; }

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px; }

.pac-controls {
  display: inline-block;
  padding: 5px 11px; }
  .pac-controls label {
    font-size: 13px;
    font-weight: 300; }

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  margin-top: 15px; }
  #pac-input:focus {
    border-color: #4d90fe; }

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px; }

#target {
  width: 345px; }
