doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Spot The Pothole | 2017 AT&amp;T Hackathon - Hawaii
    // Bootstrap Core CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    // Theme CSS
    link(href='/css/styles.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js', integrity='sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY', crossorigin='anonymous')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js', integrity='sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo', crossorigin='anonymous')
  body#page-top.index
    // Navigation
    nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
          a.navbar-brand.page-scroll(href='#page-top') Spot The Pothole
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li
              a.page-scroll(href='#map') Map
            li
              a.page-scroll(href='#team') Team
            li
              a.page-scroll(href='#download') Download App
        // /.navbar-collapse
      // /.container-fluid
    // Header
    header
      .container
        .intro-text
          .intro-lead-in Sit Back. Relax.
          .intro-heading Enjoy The Smooth Ride
          a.page-scroll.btn.btn-xl(href='#map') Find Nearby Potholes
    // Map Section
    input#pac-input.controls(type='text', placeholder='Search Box')
    section#map
    // Stats Section
    //- section#stats
    // Team Section
    section#team.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Our Amazing Team
        .row
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='/img/team/male.jpg', alt='')
              h4 Aaron Arakawa
              p.text-muted Web Developer
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='/img/team/female.jpg', alt='')
              h4 Christie Reindle
              p.text-muted Web Developer
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='/img/team/male.jpg', alt='')
              h4 Javen Nakamoto
              p.text-muted Web Developer
        .row
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='/img/team/male.jpg', alt='')
              h4 Ian
              p.text-muted Jr DevLeague
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='/img/team/female.jpg', alt='')
              h4 Lisa Zhou
              p.text-muted Web Developer
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='/img/team/female.jpg', alt='')
              h4 Lura
              p.text-muted Web Developer
        .row
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='/img/team/male.jpg', alt='')
              h4 Luke
              p.text-muted Jr DevLeague
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='/img/team/female.jpg', alt='')
              h4 Marta Katona
              p.text-muted Web Developer
          .col-sm-4
            .team-member
              img.img-responsive.img-circle(src='/img/team/female.jpg', alt='')
              h4 Nikki Kobayashi
              p.text-muted Web Developer
        .row
          .col-sm-12
            .team-member
              img.img-responsive.img-circle(src='/img/team/female.jpg', alt='')
              h4 Sheena Galutira
              p.text-muted Web Developer
    section#download.download.bg-yellow.text-center
      .container
        .row
          .col-md-8.col-md-offset-2
            h2.section-heading Download Our Mobile App
            .badges
              a.badge-link(href='#')
                img(src='/img/google-play-badge.svg', alt='')
              a.badge-link(href='#')
                img(src='/img/app-store-badge.svg', alt='')
    footer
      .container
        .row
          .col-md-4
            span.copyright Copyright © Spot The Pothole 2017
          .col-md-4
          .col-md-4
            ul.list-inline.quicklinks
              li
                a(href='/admin') Admin Log In
    // jQuery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js', integrity='sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb', crossorigin='anonymous')
    // Theme JavaScript
    script(src='/js/theme.js')
    // Google Map
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCxXC6vMDHV2x_pIdr6K4b6f8pUTfVzXQ8&libraries=places')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.js')
    script(src='js/google_map.js')
    script(src='js/app.js')
    script(src='js/d3graph.js')

